@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --blue-gradient: linear-gradient(180deg, #09F 0%, #005C99 98.39%);

  --font-visby-thin: Visby Thin;
  --font-visby-thin-italic: Visby Thin Italic;
  --font-visby-thin-bold: Visby Thin Bold;
  --font-visby-thin-bold-italic: Visby Thin Bold Italic;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.hero {
  background: var(--blue-gradient);
  color: white;
  overflow: hidden;
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.hero-content {
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  text-align: center;
  max-width: 800px;
}

.hero-text h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.hero-text p {
  font-size: 1.125rem;
  line-height: 1.6;
}

.logo-inline {
  display: inline-block;
}


@media (max-width: 768px) {
  .hero-text h1 {
    font-size: 1.875rem;
    flex-direction: column;
  }
  
  .hero-text p {
    font-size: 1rem;
  }
}